[submodule "synthterrain"]
	path = synthterrain
	url = git@github.com:NeoGeographyToolkit/synthterrain.git
[submodule "moonpies"]
	path = moonpies
	url = git@github.com:margareh/moonpies.git
	branch = scratch/add_maps
[submodule "raytrace_cuda"]
	path = raytrace_cuda
	url = git@github.com:margareh/raytrace_cuda.git
	branch = compute_horizon
[submodule "diffusion_cuda"]
	path = diffusion_cuda
	url = git@github.com:margareh/diffusion_cuda.git
